<ion-content>
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col sizeXs="12" sizeMd="6">
        <ion-card>
          <ion-card-header>
            Esqueci minha senha
          </ion-card-header>
          <ion-card-content>
            <form [formGroup]="form">
              <ion-list>
                <ion-item>
                  <ion-label position="floating">E-mail</ion-label>
                  <ion-input type="email" formControlName="email"></ion-input>
                </ion-item>
              </ion-list>
            </form>
          </ion-card-content>
        </ion-card>
        <p>
          <ion-button expand="full" size="large" [disabled]="form.invalid" (click)="submit()">
            Solicitar nova senha
          </ion-button>
        </p>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>