<ion-content>
  <ion-list>
    <ion-item *ngFor="let contact of contacts" routerLink='/contact-edit/{{ contact.id }}'>
      <ion-avatar slot="start">
        <img src="{{ contact.image }}" alt="contact.name">
      </ion-avatar>
      <ion-label>
        <strong>{{ contact.name }}</strong>
        <br>
        <small>
          <ion-icon name="call"></ion-icon> {{ contact.phone }}
        </small>
        <br>
        <small>
          <ion-icon name="mail"></ion-icon> {{ contact.email }}
        </small>
        <br>
        <small>
          <ion-icon name="home"></ion-icon> {{ contact.address }}
        </small>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="primary" routerLink='/contact-edit'>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <app-loading [data]="contacts"></app-loading>
</ion-content>